* {
    font-family: 'Poppins', 'sans-serif';
    font-weight: 500;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100vh;
}

main {
    height: calc(400px - 20px - 2px);
    border: solid black 2px;
    border-radius: 15px;
    padding: 20px;
}

h2 {
    margin-top: 0;
    padding-top: 0;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 10px;
}

li {
    padding: 0px 10px;
    border-bottom: none;
    cursor: pointer;
}

.length-tab,
.weight-tab,
.temperature-tab {
    width: 100%;
    height: 100%;
    display: none;
}

li.current-tab {
    border-bottom: solid black 2px;
}

.calculation-result {
    display: none;
}

div.current-tab {
    display: flex;
    flex-direction: column;
}

div.active {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.value-input {
    width: auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 10px;
}

.dropdown {
    margin-bottom: 10px;
    position: relative;
    box-sizing: border-box;
}

.dropdown .button {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    box-sizing: border-box;
}

.dropdown .button.selecting {
    outline: auto;
}

.dropdown .content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-sizing: border-box;

    margin-top: 5px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    overflow: hidden;

    visibility: hidden;
}

.dropdown .content.visible {
    visibility: visible;
}

.dropdown.from .content.visible {
    z-index: 1;
    /* faz com que ele fique por cima de outros elementos */
}

.dropdown .option {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    background-color: white;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 0;
}

.dropdown .option.selected {
    background-color: #e0e0e0;
}

form .footer {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

p {
    margin: 0;
    margin-bottom: 5px;
}

.submit-btn,
.reset-button {
    width: 100px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.result-tab {
    display: none;
}

.form-inputs {
    display: none;
}

.result-tab.active {
    display: flex;
}

.form-inputs.active {
    display: flex;
}

.error-message {
    margin: 0;
    color: red;
    width: auto;
    opacity: 0;
    transition: opacity 0.15s linear;
}

.error-message.visible {
    opacity: 1;
}

.shake-animation {
    animation-name: shake;
    animation-duration: 0.2s; 
    animation-iteration-count: 1;
}

@keyframes shake {
    0%   { transform: translateX(0); }
    25%  { transform: translateX(3px); }
    50%  { transform: translateX(-3px); }
    75%  { transform: translateX(3px); }
    100% { transform: translateX(0); }
}
