* {
    font-family: 'Poppins', 'sans-serif';
    font-weight: 500;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100vh;
}

main {
    border: solid black 2px;
    border-radius: 15px;
    padding: 20px;
}

h2 { 
    margin-top: 0;
    padding-top: 0;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 10px; 
}

li {
    padding: 0px 10px;
    border-bottom: none;
    cursor: pointer;
}

.length-tab, .weight-tab, .temperature-tab {
    width: 100%;
    height: 100%;
    display: none;
}

li.active { 
    border-bottom: solid black 2px; 
}

div.active { display: flex; }

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.value-input {
    width: auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 10px;
}

.dropdown {
    margin-bottom: 10px;
    position: relative;
    box-sizing: border-box;
}


.dropdown .button {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    box-sizing: border-box;
}

.dropdown .button.selecting {
    outline: auto;
}

.dropdown .content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-sizing: border-box;

    margin-top: 5px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    overflow: hidden;

    visibility: hidden;
}

.dropdown .content.visible {
    visibility: visible;
}

.dropdown.from .content.visible {
    z-index: 1; /* faz com que ele fique por cima de outros elementos */
}

.dropdown .option {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    background-color: white;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 0;
}

form .footer {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.error-message {
    margin: 0;
    color: red;
    width: auto;
    visibility: hidden;
}

.error-message.visible {
    visibility: visible;
}

.submit-btn {
    width: 100px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}
